@charset "ISO-8859-1";

.modal{z-index: 999999 !important;}

#nav-link {padding: 0 !important;}
#navbar {padding: 0 !important;}

#rgb_corporative{background: #a19ee3;}
#a_link{text-decoration: none;color: #686767;}
#warning{color: #f7f6f5;background-color: #506c03;border-color: #f9f9f9;}

.modal_error{position: absolute;z-index: 99999999999999;left: 0;right: 0;width: 600px;margin: auto;}

.header_dropdown{margin-right: 7%;position: absolute;z-index: 999;top: 0;right: 0;}
.header{padding: 15px;color: #fff;}
.header_hr{position: relative;bottom: 22px;}

.title_breadcrumb{ position: absolute;    top: 7rem;    left: 1%}

.title_login{text-align: center;    padding-bottom: 20px;    font-size: 2rem;    color: #a19ee3;}
.login{
	width: 400px;
	margin: auto;
	border: 1px solid #330a0a1f;
	padding: 30px;
	border-radius: 6px;
	background: #ece0f466;
	box-shadow: 0px 0px 5px 5px #0403031f;
	top:6rem;
	position: relative;
}

.alert_error_login{position: absolute;    top: 14rem;    margin: auto;    width: 380px;    z-index: 999999999;    left: 0;    right: 0;}
.alert_div1{position: absolute;width: 100%;top: 0;bottom: 0;background: #0b0b0b9c;z-index: 999999;}
.alert_div2{width: 40%;margin: 0 auto;top: 2rem;position: relative}



.div_content{position: absolute;border: 1px solid #0404042e;width: 73%;left: 1rem;border-radius: 6px;height: 70%;padding: 20px;}
.layout_right{position: absolute;right: 0;width: 73%;background: #1703030d;top: 0;bottom: 0;padding: 25px;border: 1px solid #0d0d0d29;}

.div_center_25{width: 25%;margin: auto;position: absolute;left: 0;right: 0;bottom: 0;text-align: center;top: 10%;}





